<p>Ticket <%= @ticket.id %> has been updated. Please see below for details.</p>
<p>Subject: <%= @ticket.subject %></p>
<p>View Online: <%= ticket_url(@ticket) %></p>

<% @ticket.replies.each do |reply| %>
<hr />
<p>Response from : <%= reply.sender %>,</p>
<p>Created at    : <%= reply.created_at %></p>

<p><%= reply.body %></p>

<% end %>

<hr />
<p>-------------Original Message-----------------</p>

<p>Sender         :<%= @ticket.sender %>,</p>
<p>Created at     :<%= @ticket.created_at %></p>

<p><%= @ticket.body %></p>