<% if user_signed_in? %>
<!DOCTYPE html>

<html>
  <head>
    <title>Laantern</title>
  </head>

  <body>
    <div class="navbar" id="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to root_path, class: "brand" do %>
            <small><em class="icon-desktop"></em> Laantern</small>
          <% end %>
          <a class="btn-navbar collapsed" data-target=".nav-collapse" data-toggle="collapse" href="#"><em class="icon-reorder"></em></a>

          <ul class="nav flaty-nav pull-right">

            <li class="user-profile">
              <a class="user-menu dropdown-toggle" data-toggle="dropdown" href="#">
                <img alt="Penny's Photo" class="nav-user-photo" src="<%= gravatar_url current_user.email, size: 70 %>">
                <span class="hidden-phone" id="user_info"><%= current_user.display_name %></span>
                <em class="icon-caret-down"></em>
              </a>

              <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                <li class="nav-header"><em class="icon-time"></em> Logged in From<%= current_user.last_sign_in_at.strftime "%l:%M%p" %></li>

                <li><a href="#"><em class="icon-cog"></em> Account Settings</a></li>

                <li>
                  <%= link_to edit_user_registration_path do %>
                    <em class="icon-user"></em> Edit Profile
                  <% end %>
                </li>

                <li class="divider"></li>

                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                   <em class="icon-off"></em> Logout
                  <% end %>
                </li>
              </ul>
            </li><!-- /.user-profile -->
          </ul><!-- /.nav flaty-nav pull-right -->
        </div><!-- /.container-fluid -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

    <header>
      <span>Welcome Back</span>
    </header>
    <% end %>
  </body>
</html>