<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<p>
  <b>Sender:</b>
  <%= @ticket.sender %>
</p>

<p>
  <b>Subject:</b>
  <%= @ticket.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @ticket.body %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
