<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<p>
  <b>Sender:</b>
  <%= @ticket.sender %>
</p>

<p>
  <b>Subject:</b>
  <%= @ticket.subject %>
</p>

<p>
  <%= @ticket.body %>
</p>

<hr />
<% @ticket.replies.each do |reply| %>
	<div>
		<%= reply.created_at %>, <%= reply.sender %> <br /> <%= simple_format reply.body %>
	</div>
	<hr />
<% end %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
